/*button class---------------------*/
.button {
    -fx-background-color: #05309D;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #323d4d;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #0850b4;
}
/*button class---------------------*/

/*combobox---------------------*/
.combo-box {
    -fx-background-color: #161A39;
    -fx-border-style: none;
}
.combo-box .list-cell{
    -fx-background-color:  #161A39;
    -fx-text-fill: white;
}
.combo-box .list-view {
    -fx-background-color: #161A39;
}
.combo-box .list-view:selected {
    -fx-background-color: #161A39;
}
.combo-box .list-cell:hover {
    -fx-background-color: #0850b4;
}
.combo-box .list-cell:selected {
    -fx-background-color: #161A39;
    -fx-text-fill: white;
}

/*combobox---------------------*/

/*custom buttons---------------------*/
#btnCancel {
    -fx-background-color: #711818;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}
#btnAccept {
    -fx-background-color: #074B2B;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}
#btnAccept:hover {
    -fx-background-color: #13c008;
    -fx-text-fill: white;
}

#btnCancel:hover {
    -fx-background-color: #bd1b1b;
    -fx-text-fill: white;
}

#btnAccept:pressed {
    -fx-background-color: #505050;
}

#btnCancel:pressed {
    -fx-background-color: #505050;
}

#btnUpdate{
    -fx-background-color: #13c008;
    -fx-text-fill: white;
}
#btnProceed{
    -fx-background-color: #13c008;
    -fx-text-fill: white;
}
/*custom buttons---------------------*/
.text-field{
    -fx-text-fill: #c1c5d7;
    -fx-background-color:#161A39 ;
}


.table-view {
    -fx-background-color: #161A39;
    -fx-border-style: none;
}
.table-view .column-header {
    -fx-background-color: #161A39;
}
.table-view .column-header .label {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #161A39;
    -fx-border-color: #161A39 ;
}
.table-row-cell  {
    -fx-background-color: #161A39;
}
.table-row-cell .label {
    -fx-background-color: #161A39;
    -fx-text-fill: #ffffff;
}
.table-row-cell:selected {
    -fx-background-color: #0850b4;
}
.table-row-cell:hover {
    -fx-background-color: #408ffd;
}
.table-row-cell {
    -fx-text-fill: #ffffff; /* Set the text color to white */
}
.table-cell {
    -fx-text-fill: #ffffff; /* Set the text color to white */
    -fx-alignment: CENTER;
}
.table-row{
    -fx-background-color: #161A39;
    -fx-text-fill: #ffffff;
}
.table-view {
    -fx-table-cell-border-color: transparent;
}

.table-row-cell {
    -fx-border-width: 0;
}
