/*button class---------------------*/
.button {
    -fx-background-color: #05309D;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #323d4d;
    -fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: #0850b4;
}
/*button class---------------------*/

/*combobox---------------------*/
.combo-box {
    -fx-background-color: #161A39;
    -fx-prompt-text-fill: white;
}

.combo-box .list-view {
    -fx-background-color: #161A39;
}



/*combobox---------------------*/

/*custom buttons---------------------*/
#btnCancel {
    -fx-background-color: #711818;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}
#btnComplete {
    -fx-background-color: #074B2B;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}
#btnComplete:hover {
    -fx-background-color: #13c008;
    -fx-text-fill: white;
}

#btnCancel:hover {
    -fx-background-color: #bd1b1b;
    -fx-text-fill: white;
}

#btnComplete:pressed {
    -fx-background-color: #505050;
}

#btnCancel:pressed {
    -fx-background-color: #505050;
}


#btnProceed{
    -fx-background-color: #13c008;
    -fx-text-fill: white;
}
/*custom buttons---------------------*/
.text-field{
    -fx-background-color:#161A39 ;
}
